<!-- campaigns/templates/campaigns/create_campaign.html -->
{% extends "home/base.html" %}

{% block title %}
  Create_campaign
{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Campaign</title>
</head>
<body>
    <h2>Create a New Campaign</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create Campaign</button>
    </form>
    <p><a href="{% url 'campaigns:campaign_list' %}">Back to Campaign List</a></p>
</body>
</html>
{% endblock %}