{# templates/rulebooks/detail.html #}
{% extends "base.html" %}
{% block content %}
<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">{{ rulebook.name }}</h1>
  <p class="mb-6">
    <a href="{% url 'characters:rulebook_list' %}"
       class="text-blue-500 hover:underline">&larr; All Rulebooks</a>
         <a href="{% url 'characters:rulebook_glossary' rulebook.pk %}"
     class="text-blue-600 hover:underline">
    Glossary
  </a>
  </p>



  {% if pages %}
    <ol class="list-decimal list-inside space-y-2 pl-[5px]">
      {% for page in pages %}
        <li>
          <a
            href="{% url 'characters:rulebook_page_detail' rulebook.pk page.pk %}"
            class="text-lg text-gray-700 hover:text-blue-600">
            {{ page.title }}
          </a>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="text-gray-500 italic">No pages yet.</p>
  {% endif %}
</div>
{% endblock %}
